@import url("https://fonts.cdnfonts.com/css/poppins");
@import url('https://fonts.cdnfonts.com/css/product-sans');

@import 'style_mobile';

$color1: #202124;
$color2: #5f6368;
$colorBackgroundSearch: #303134;
$colorSearchImage: #98a4ae;
$color3: #e8eaed;
$color4: #edf1f4;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Poppins";
    background-color: $color1;
    color: $color3;
}


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100%;
    position: relative;

    .title{
        width: 80vw;
        background-repeat: no-repeat;

        font-family: "Product Sans";
        font-size: 9vmin;
        letter-spacing: 0.05em;
        text-align: center;

        margin-top: 5vmin;
        margin-bottom: 1vmin;

        padding: 4.5vmin 0;
    }

    .search-container{
        width: 60vmin;
        position: relative;

        form{
            width: 100%;

            .input-group{
                position: relative;

                #search-box{
                    width: 100%;
                    padding: 0.8vmin 1vmin 0.8vmin 7vmin;
                    border: 1px solid $color2;
                    border-radius: 25px;
                    outline: none;
                    font-size: 2.2vmin;
                    color: white;
                    transition: 0.2s;

                    &:hover,
                    &:focus{
                        background-color: $colorBackgroundSearch;
                        box-shadow: 0 1px 6px 0 #171717;
                        border-color: rgba(223,225,229,0);
                    }

                    &::placeholder{
                        color: #5f6368;
                    }

                    &::-webkit-search-cancel-button {
                        -webkit-appearance: none;
                        cursor: pointer;
                        display: inline-block;
                        width: 2.5vmin;
                        padding: 0 1vw;
                        content: url("../IMG/clean-logo.svg");
                    }
                }

                img{
                    position: absolute;
                    left: 2vmin;
                    top: 50%;
                    transform: translate(0, -1.4vmin);
                    width: 2.8vmin;
                    background-color: transparent;
                }
            }

            .submit-group{
                width: 100%;
                height: 100%;
                text-align: center;
                margin-top: 4vmin;

                input[type="submit"]{
                    margin: 0 0.5vmin;
                    border-radius: 5px;
                    font-size: 1.8vmin;

                    background-color: #303134;
                    border: 1px solid #303134;
                    padding: 0.8vmin 1vmin;
                    text-align: center;
                    cursor: pointer;



                    &:hover{
                        box-shadow: 0 1px 3px rgba(23,23,23,0.24);
                        background-color: #303134;
                        border: 1px solid #5f6368;
                    }
                }
            }
        }


    }

    .cards{
        margin-top: 3vmin;
        width: 80vw;

        display: flex;
        justify-content: center;
        flex-flow: row wrap;


        .card-container{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            background-color: $color3;
            border-radius: 40px;

            margin: 5vmin 3vmin;
            width: 15vmin;
            min-height: 125px;
            min-width: 95px;
            //min-width: 16vw;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: relative;

            .image-container{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                position: absolute;
                top: -3vmin;

                background-color: #b2382e;

                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                width: 5.5vmin;
                padding: 1vmin;

                img{
                    width: 100%;
                    background-color: #b2382e;

                }
            }

            .text-container{
                width: 80%;
                height: 80%;
                background-color: transparent;

                color: black;

                display: flex;
                flex-direction: column;

                justify-content: center;
                align-items: center;
                align-content: space-between;

                .title-card{
                    width: 90%;

                    text-align: center;
                    font-size: 14px;
                    -moz-text-size-adjust: auto;
                    font-weight: 500;

                    background-color: transparent;
                    color: $color1;

                    margin-top: 5vmin;
                    margin-bottom: 1.7vmin;
                }
                .score{
                    background-color: transparent;
                    color: $color1;

                    text-align: center;
                    font-size: 3vmin;

                    font-weight: 600;

                    margin-bottom: 2vmin;
                }
            }
        }
    }

    .error-container{
        margin-top: 3vmin;

        span{
            padding: 1.5vmin 3.5vmin;

            border: 1px solid red;
            border-radius: 15px;

            background-color: #973a3c;

            font-size: 1.9vmin;
            font-weight: 500;
            strong{
                font-size: 2.2vmin;
                background-color: transparent;
            }
        }
    }

    .result-container{
        margin-top: 2vw;
        width: 80%;
        text-align: center;

        h1{
            text-align: left;
            font-size: 2.5vmin;
            margin-bottom: 2vmin;
        }
    }
}